
                <main>
                    <div class="px-4">
                        <h1 class="mt-4">Requests</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Overview of all requests</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Requests
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Asset</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Asset</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        
                                        <tr>
                                            <td>Dell Pro 14</td>
                                            <td>Request Desciption</td>
                                            <td>Pending</td>
                                            <td>05/05/2025</td>
                                            <td>05/05/2025</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
